body {
    margin: 0;
    background-color: #ECFDF5;
    font-family: Inter, serif;
}

#main {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    row-gap: 40px;
    /* max-width: 50%; */
}

#headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

h1 {
    color: night;
    font-weight: 800;
    font-family: Karla, serif;
    font-size: 40px;
    letter-spacing: -0.05em;
    margin: 0;
    line-height: 40px;
    text-align: center;
}

strong {
    color: #10B981;
    font-weight: inherit;
}

h2 {
    color: #6B7280;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    line-height: 28px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 0px;
}

.slider {
  -webkit-appearance: none;
  flex: 0.5 1 auto;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #10B981;
    border-radius: 6px;
    margin: 10px 0;
}

input[type="checkbox"]:checked {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #10B981;
    border: 1px solid #10B981;
    border-radius: 6px;
    display: block;
}

#generate-btn {
    margin: 10px 0;
    background: #10B981;
    /* width: 20%; */
    color: white;
    border: 2px solid #10B981;
    padding: 9px 17px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 22px;
}

#generate-btn:hover {
    background: #10B9811A;
    color: #10B981;
    border: 2px solid #10B981;
    padding: 9px 17px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 22px;
}

#passwords {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.password-btn {
    background: #273549;
    color: #5DEF92;
    font-size: 16px;
    height: 37px;
    width: 209px;
    text-align: center;
    vertical-align: center;
    border-radius: 6px;
    border: 2px solid #273549;
}

.password-btn:hover {
    background: #27354933;
    color: #273549;
    font-size: 16px;
    height: 37px;
    width: 209px;
    text-align: center;
    vertical-align: center;
    border-radius: 6px;
    border: 2px solid #273549;
}

#messages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}